{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
Comentarios
{% endblock %}

{% block contenido_que_cambia %}
{% if comentarios %}
<p>Se encontraron {{ cantidad }} comentarios</p>
<ul>
    {% for comentario in comentarios %}
        <li>titulo: {{ comentario.titulo }}</li>
        <li>comentario: {{ comentario.comentario }}</li>
        <li>fecha: {{ comentario.fecha }}</li>
        <br>
    {% endfor %}
</ul>

{% else %}
<p>no se encontraron comentarios</p>

{% endif %}

{% endblock %}